@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: rgb(235, 235, 235); */
}

.bg-app-green {
  background-color: #15a73f;
}
.app-green {
  color: #15a73f;
}

.app-h-plsp {
  height: 435px;
}
